	<% flash.each do |key,value| %>
		<div class="alert-message <%= key %>"><%= value %></div>
	<% end %>
	
		<div class="content clearfix">
			<h1><%= @title %></h1>
			<% unless @users.empty? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users, :class => "apple_pagination" %>
      <% end %>
		</div>
		<div class="sidebar clearfix">
				<strong>Name</strong> <%= @user.name %><br />
	      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
	      <strong>Microposts</strong> <%= @user.microposts.count %>
	      <%= render 'shared/stats' %>
	      <% unless @users.empty? %>
	        <% @users.each do |user| %>
	          <%= link_to gravatar_for(user, :size => 30), user %>
	        <% end %>
	      <% end %>
		</div>

